[2010-11-04 20:11] jfhbrook opened #5 "I think Github's SSL action broke node-github"
Hey there!

I've been using node-github for a while, and I noticed that, since Github switched to SSL, my requests (All with the commit api) have been getting 301 errors. I'm pretty sure that the defaults in /lib/github/Request.js just have to be changed properly (http--> https, port 80 --> whatever it should be), but I couldn't get it to work.

Thanks!

[2010-11-26 21:13] #5 closed, assigned to nobody

[2019-01-19 03:52] JasonEtco opened #3 "Avoid replication lag"
GitHub can sometimes take a few seconds to replicate a resource across the many servers and databases. This can cause a perfectly fine request to respond with a 404, as if the resource requested doesn't exist. Here's an example of a Probot event that _might_ fail, dependent on the replication lag that GitHub is experiencing:

[code]

Originally found and "solved" here: https://github.com/integrati

[2019-01-25 01:25] gr2m opened #6 "when creating a check run in a webhook handler, default `started_at` to the time the webhook was received"

[2020-02-11 07:41] gr2m opened #8 "Rewrite to only have 3 sections"
1. Request client (REST / GraphQL / Authentication strategies)
2. Apps (OAuth, Webhooks, GitHub App/Installations)
3. Actions

[2020-02-11 19:29] #8 closed

[2020-10-15 20:51] first-timers[bot] opened #10 "Replace "cdn.pika.dev" with "cdn.skypack.dev" in README"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

The Pika CDN is now Skypack, see https://www.pika.dev/cdn. The CDN at https

[2020-10-16 01:29] Moe82 commented on #10
I would like to claim issue please.

[2020-10-16 18:20] pythaqua commented on #10
I'd like to help!

[2020-10-16 18:22] Moe82 commented on #10
Can I get some feedback on my pull request please?

[2020-10-17 00:01] #10 closed

[2021-01-22 00:05] renovate[bot] opened #13 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to ignore the schedule.
 - [ ] fix(deps): lock file maintenance

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] build(deps): update dependency prettier to v2

---

- [ ] Check t

[2021-03-02 00:10] #13 closed

[2021-03-31 16:36] gr2m opened #16 "Set correct type for `octokit` instances"
Current `app.octokit` etc is set to the types of `@octokit/core`. `app.octokit.rest.*` or `app.octokit.paginate` is not known to TypeScript (although it does exist). I couldn't figure out how to make this work yet. Both [`@octokit/app`](https://github.com/octokit/app.js/#readme) and [`@octokit/oauth-app`](https://github.com/octokit/oauth-app.js/) accept a type parameter for the used `Octokit`, so

[2021-03-31 16:50] gr2m opened #17 "Build error: Type 'OctokitClassType<O>' does not satisfy the constraint '(new (...args: any[]) => { [x: string]: any; }) & typeof Octokit'."
running `npm run build` currently results in an error

[code]

This is currently blocking the release of `octokit@beta` to npm

# 😫

[2021-03-31 17:34] gr2m commented on #3
this is resolved within https://github.com/octokit/auth-app.js/ now. It handles both, a replication lag of an installation access token and invalid installation access tokens due to out-of-sync system times.

`octokit` also has the retry plugin available automatically, so requests such as the one shown in the original issue could be retried explicitly.

[code]

The problem didn't come up with anyt

[2021-03-31 17:34] gr2m commented on #6
I think this is no longer an issue

[2021-03-31 17:34] #6 closed

[2021-04-05 00:47] gr2m commented on #17
fixed via 4907236

[2021-04-05 00:47] #17 closed

[2021-04-08 22:35] #16 closed

[2021-04-10 11:32] zingi opened #24 "When trying to import in deno, a lot of missing dependency errors are thrown"
**What happened?**

I wanted to import `Octokit` in deno as described [here](https://github.com/octokit/octokit.js#usage).

[code]

[code]

but a lot of missing dependency errors were thrown:

<details>
<summary>Error Output</summary>

[code]

</details>

What am I doing wrong?

**What did you expect to happen?**

no missing dependency errors

**Environment**

[code]

[2021-04-11 04:15] zingi commented on #24
Never mind. I did not change anything, and now it seems to work 🤷🏻‍♂️

[code]

<details>
<summary>Output</summary>

[code]

</details>

The plain JS import already worked yesterday and produced the same output as today:

[code]

<details>
<summary>Output</summary>

[code]

</details>

[2021-04-18 17:42] #24 closed

[2021-04-20 17:28] gr2m opened #2079 "Deno: `deno run` does not exit"
Follow up to https://github.com/octokit/octokit.js/issues/2075

**What happened?**

@laughedelic was able to [narrow down the problem to the throttle plugin](https://github.com/octokit/octokit.js/issues/2075#issuecomment-822076111).

**What did you expect to happen?**

The deno process should exit, just like Node does

**What the problem might be**

The throttle plugin is using [bottleneck](https:

[2021-04-30 19:56] wperron commented on #2079
Hey, Deno maintainer here :wave: I was actually just trying to use octokit to extract our release download stats and hit this issue. So far my script is as simple as it gets :
[code]

I also traced it down to plugin-throttling, I'll try to get a minimal repro with just Bottleneck next week. Don't hesitate to contact me too if you happen to be working on it.

[2021-04-30 21:50] gr2m commented on #2079
thank you so much @wperron for looking into it! Please let me know if there is anything that I can help with

[2021-05-03 18:51] wperron commented on #2079
I believe I found the reason for the hang, probably around the `_startAutoCleanup` function in Bottleneck ([here](https://github.com/SGrondin/bottleneck/blob/master/light.js#L919)).

In Deno, just like in the browser `setInterval` [returns an IntervalID](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/setInterval#return_value) as opposed to the [`Timeout` object](https:/

[2021-05-14 16:58] icetortoise opened #2094 "README refers to non-existant exported `Action` member"
I am trying out the deno example in the README, and it does not work:

[code]

[2021-05-14 17:06] wolfy1339 commented on #2094
This isn't a bug with deno, but with our documentation. There isn't any `Action` client in `octokit.js` as of yet.

You can use [`@octokit/action`](https://github.com/octokit/action.js#readme) in the mean time

[2021-05-14 17:12] icetortoise commented on #2094
OK, thanks for looking into this so quickly.

I am still seeing issues though, the script looks like this now:

[code]

This prints

[code]

However, if I try to access `o.projects` I get compilation error saying such property does not exist.

It seems like the type definitions are not picked up by tsc?

[2021-05-14 17:13] gr2m commented on #2094
it's `o.rest.projects`

[2021-05-14 17:14] gr2m commented on #2094
Also note that there is a known problem with Deno right now, likely related to our dependency on Bottleneck, see the thread at https://github.com/octokit/octokit.js/issues/2075

[2021-05-14 17:15] icetortoise commented on #2094
Thanks for the pointer.

`o.rest.projects` does not work either, compiler complains `rest` is missing in this case.

[2021-05-14 17:30] gr2m commented on #2094
It does work in the browser:

[code]

so I assume it's probably related to the problem described at #2075

[2021-05-20 03:50] anzboi opened #2098 "Respect https_proxy environment variables by default."
**What’s missing?**

Currently, octokit requires code in order to respect https_proxy environment variables, which looks something like this.

[code]

It would be nice if octokit can automatically read `https_proxy` (and the others) and respect those environment variables.

**Why?**

Not having this feature creates a problem with the proliferation of third party tools that don't specifically add s

[2021-05-20 04:19] gr2m commented on #2098
A `https_proxy` environment variable is only relevant to node and maybe Deno, but not browsers, so it's not something we'd add to Octokit core.

But you can quite easily create your own Octokit constructor which respects the environment variable. Try this

[code]

You could publish the `autoProxyAgent` as npm package, it might be useful for others who have a similar use case to yours? You can run

[2021-05-20 05:27] anzboi commented on #2098
Unfortunately those fixes aren't going to work for my use cases. The issue is not with my code, rather with tools already written by third parties. Your suggested fix is essentially what I have been doing, fork the third party code and modify to respect proxy, I was just hoping for a better solution.

Thanks for the explanation as to why this wouldn't be added though. I suppose in this case the re

[2021-05-20 05:27] #2098 closed, assigned to nobody

[2021-05-23 00:46] peter-evans commented on #2098
@gr2m Thank you for the snippet to support `https_proxy` with Octokit. Very useful.

At the moment, most GitHub actions are broken for those that run self-hosted runners behind a corporate proxy. It might be worth having an official Octokit plugin for "autoProxyAgent" because I think ideally it should be included in the Actions Tookit `github` package so that many GitHub actions will get this func

[2021-05-23 04:03] gr2m commented on #2098
Good point! I’ll incorporate it into @octokit/action, I want to rework this one anyway

[2021-05-23 08:47] Slion opened #2100 "favicons.githubusercontent.com response missing Access-Control-Allow-Origin"
**What happened?**

Fetching favicons from https://favicons.githubusercontent.com/ fails because of missing Access-Control-Allow-Origin header.

**What did you expect to happen?**

Downloading favicons using XMLHttpRequest should work.

**What the problem might be**

Response should have Access-Control-Allow-Origin wildcard I guess.

[2021-05-23 14:38] wolfy1339 commented on #2100
You will have to contact GitHub's support as we aren't GitHub staff.

[2021-05-23 14:38] #2100 closed, assigned to nobody

[2021-05-23 21:54] gr2m commented on #2098
you can follow https://github.com/octokit/action.js/issues/300 for updates

[2021-05-24 00:45] peter-evans commented on #2098
@gr2m Just to clarify, can we expect a standalone `autoProxyAgent` plugin, similar to [retry](https://github.com/octokit/plugin-retry.js), [paginateRest](https://github.com/octokit/plugin-paginate-rest.js), etc.? It sounds like you intend to just bake it into `@octokit/action`, rather than make it available to any project constructing `Octokit` from `@octokit/core`.

[2021-05-24 00:51] gr2m commented on #2098
Not sure yet.  But you can use the above code as plug-in already

[2021-05-24 01:06] peter-evans commented on #2098
Yep, that's what I'm intending to do [here](https://github.com/peter-evans/create-pull-request/pull/837). I just thought it would be easier to support this feature in the wider community if it was standalone.

[2021-05-28 20:24] gr2m commented on #2094
closing in favor of #2075

[2021-05-28 20:24] #2094 closed, assigned to nobody

[2021-05-29 21:30] renovate[bot] opened #2107 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `package.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid configuration option: @pika/pack, Invalid configuration option: author, Invalid configuration option: jest, Invalid configuration o

[2021-05-30 03:47] #2107 closed, assigned to nobody

[2021-05-31 13:16] oscard0m opened #2109 "`npm@6` is currently used to generate the lockfile."
What do you think about a check run to assure lockfiles manually generated are using the expected version? Do you think is worth it? Are there any existing checks for that? @gr2m @wolfy1339 @G-Rath

_Originally posted by @wolfy1339 in https://github.com/octokit/plugin-enterprise-server.js/issues/387#issuecomment-851456384_

[2021-05-31 13:45] wolfy1339 commented on #2109
If you check the property `lockfileVersion`, it should be equal to 1 when using `npm@6`

[2021-05-31 16:04] oscard0m commented on #2109
Checking [npm docs](https://docs.npmjs.com/cli/v7/configuring-npm/package-lock-json#lockfileversion) and [GitHub Blog](https://github.blog/2021-02-02-npm-7-is-now-generally-available/#changes-to-the-lockfile) seems like `lockfileVersion 2` is backwards compatible with `lockfileVersion 1`.

@wolfy1339 did you find any issue with `npm@6` when using `lockfileVersion 2`? If not, is it necessary to ass

[2021-05-31 16:14] wolfy1339 commented on #2109
There isn't any specific issues with `lockfileVersion: 2`.

While it is backwards compatible, it logs a warning in previous versions of npm.

All the dependency automation currently outputs `v1` lockfiles.

Introduces additional noise into diffs. Which could possibly not be an issue once they are upgraded to v2

[2021-05-31 16:24] gr2m commented on #2109
Currently all node versions including Node 16 ship with npm 6 by default, so I'd stick to that until the first LTS version ships with npm 7+

I'd say that's the only problem right now

[2021-05-31 16:25] #2109 closed, assigned to nobody

[2021-05-31 17:51] brunoaugusto opened #2111 "Direct Download"
### Please avoid duplicates

- [X] I checked [all open feature requests](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Afeature) and none of them matched my problem.

### What’s missing?

Direct link to download Octokit

### Why?

For a number of reasons, using CDNs or compiling from sources aren't viable approaches to me and, therefore, I would like a direct link to d

[2021-05-31 18:28] gr2m commented on #2111
You'd usually install `octokit` as dependency using `npm` and `yarn` and then have a build step locally, we do not plan to offer a pre-bundled version ourselves

[2021-05-31 18:28] #2111 closed, assigned to nobody

[2021-05-31 18:49] brunoaugusto commented on #2111
Heh, creating from scratch it is then :(

[2021-06-05 08:24] neenjaw opened #2112 "`tsc` fails when using `octokit`"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

https://www.typescriptlang.org/play?target=6&jsx=0&module=1&strict=true#code/JYWwDg9gTgLgBAbzgeQMYwga2PAvnAMyghDgCIJ0scyAoWgUwA9JY4BDAZwE8A7VQgFd+MYBF6EGMVAAsAFAEpEtOHFTjO8ACrIA0gFEAcnAC8cAOTN

[2021-06-07 16:14] gr2m commented on #2112
It works in VS Code. It's most likely a problem with the playground, can you check in with them?

<img width="718" alt="image" src="https://user-images.githubusercontent.com/39992/121053932-b7de5d00-c770-11eb-81b8-bca93afc8f58.png">

[2021-06-07 17:03] neenjaw commented on #2112
My issue is not that the auto complete doesn't work. My issue is that I get a tsc error that the type doesn't exist when I am compiling it on the command line.

[2021-06-07 17:40] gr2m commented on #2112
can you please create a minimal test repository to reproduce the problem? It is probably related to your tsconfig settings or and/or typescript version

[2021-06-07 17:46] SleeplessByte commented on #2112
The typescript playground is actually telling us _why_ it's failing inside the playground.

![Error messages showing a specific type package cannot be resolved](https://user-images.githubusercontent.com/1964376/121065182-c3f60900-c7c8-11eb-9408-f2887d849c8d.png).

@neenjaw can you check in your VSCode if you see the same issue/similar issue? Ping me on slack again if you want to work on a repro fo

[2021-06-07 17:48] gr2m commented on #2112
that's great, but it's still a problem with the playground that I cannot reproduce locally.

[2021-06-07 17:51] neenjaw commented on #2112
Yea, I can make one tonight, will post here with it

[2021-06-08 03:01] neenjaw commented on #2112
Minimal test repo here: https://github.com/neenjaw/octocat-minimal-issue

can recreate `tsc` error locally using `npm install && npm run build`

[2021-06-08 05:41] gr2m commented on #2112
It wasn't a problem with Octokit, but with the structure of your code. This PR fixes it:
https://github.com/neenjaw/octocat-minimal-issue/pull/1

Does that work for you?

[2021-06-08 11:44] neenjaw commented on #2112
It would, can you explain how the previous way caused the `tsc` error so I can learn from it? I would have thought the if statement after the ternary would have narrowed the type appropriately, or at least excluded the never case?

[2021-06-08 15:18] gr2m commented on #2112
I wish I could explain it in detail, but I still don't fully understand the inner working of TypeScript myself. And I think there were some changes in type narrowing as part of v4.3.

The TypeScript community is very helpful, and there are some very skilled folks looking for TypeScript questions on StackOverflow, if you'd like to ask someone more skilled than myself.

I'd also recommend reading ht

[2021-06-08 15:18] #2112 closed, assigned to nobody

[2021-06-08 15:25] SleeplessByte commented on #2112
@gr2m I checked your PR on @neenjaw repro and yes it solves his issue, but I did find the actually issue with the type.

The type of `Octokit` is, regardless of what Tim does in his repro:

[code]

This results in your PR working because `octokit.graphql` reaches into `Octokit` as can be seen here:

![Autocomplete of type information when typing octokit with the Octokit type showing the grapql pro

[2021-06-08 16:08] gr2m commented on #2112
can you please open a separate issue for this @SleeplessByte?

[2021-06-08 16:13] SleeplessByte opened #2115 "type of Octokit is incorrect"
TL;DR don't union `void` if you want TypeScript to work as expected.

My original findings in #2112 follow below:

---------------

@gr2m I checked your PR on @neenjaw repro and yes it solves his issue, but I did find the actually issue with the type.

The type of `Octokit` is, regardless of what Tim does in his repro:

[code]

This results in your PR working because `octokit.graphql` reaches into

[2021-06-08 16:34] gr2m commented on #2115
I've no idea where the `void` is coming from there. It's quite a deep rabbit hole. I also don't see the use case ochecking if `octokit` is truthy right after you instantiate it? Why would you do that?

I agree the `void` should be removed, but unless it has a bigger impact I won't give this a high priority

[2021-06-08 16:45] SleeplessByte commented on #2115
You would do that if you want to pass `octokit` in as a variable, like:

[code]

...among many more use cases. Right now we can't pass octokit around unless we assume that it's always there or cast the type manually.

This also means you can't safely type a conditional initializer or memoize it.

[2021-06-11 18:55] #2115 closed, assigned to gr2m

[2021-06-11 18:56] gr2m commented on #2115
The problem was a plugin returning `void`. I fixed that now, but will also look into preventing that from happening again in the future. Sorry for the trouble. A new release for `octokit` is on its way

[2021-06-13 21:29] gr2m commented on #2115
The problem should not happen again once https://github.com/octokit/core.js/pull/356 is merged an released. However, I couldn't figure out a way to test for `octokit` being an intersection with `void`. I added a test to `test/typescript-validate.ts`, see https://github.com/octokit/core.js/pull/356/files, but that test passed before already.

Do you have an idea how to add a typescript-only check w

[2021-06-13 23:24] SleeplessByte commented on #2115
You could use the narrowing trick I used:

[code]

But I don't know if that will work with the test suite you have set up. When I must _force_ type checkes like this, I usually use what the DefinitelyTyped repo uses.

[2021-06-13 23:49] gr2m commented on #2115
Thanks! This did the trick

[code]

That worked before octokit/core.js#356 but is now throwing a TypeScript error 👍🏼

[2021-06-22 22:55] koahmad opened #2119 "Cannot import `createNodeMiddleware` from "octokit""
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

https://www.typescriptlang.org/play?ssl=19&ssc=1&pln=1&pc=1#code/JYWwDg9gTgLgBAbzgQTGANHAxlApgQxlwDkIATXAWWDLIBtcB3fPOAXzgDMoIQ4AiCFhgQA1sBj8A3ACgZWCADsAzvHxo4AXjiKmKNAAoEMuHHVgAkmQBccAIwO76E3

[2021-06-22 23:50] gr2m commented on #2119
Oops, sorry for that! I'll look into it shortly, should be an easy fix

[2021-06-23 06:31] #2119 closed, assigned to gr2m

[2021-06-23 16:55] koahmad commented on #2119
Thank you for the quick fix!!

[2021-07-07 11:43] alexanderniebuhr opened #2126 "Make Module compatible with SvelteKit & Vite SSR"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

-

### Please select the environment(s) that are relevant to your bug report

- [ ] TypeScript
- [ ] Enterprise
- [X] Browsers
- [ ] Node
- [ ] Deno

### Version

npm@7.18.1
octokit@1.1.0

###

[2021-07-08 20:31] gr2m commented on #2126
This is a build problem, not a library problem. You can import a browser-compatible/optimized version directly from skypack, as shown in the readme. I'm not familiar with SveletKit and Vite, but some of the `@octokit/*` packages use the non-standard `"browser"` key to override the main export. The build tools would ideally respect that.

The proper solution will be to migrate all of Octokit to nat

[2021-07-08 20:31] #2126 closed, assigned to nobody

[2021-07-09 19:58] gr2m opened #2127 "Separate types from code and make types composable/extendable"
Currently all JS Octokit modules depend on [`@ocotkit/types`](https://github.com/octokit/types.ts/). `@octokit/types` include [definitions for all 600+ REST API endpoints for `api.github.com`](https://github.com/octokit/types.ts/tree/98b1d304b36d3ddd4d0b99b1cc0194e795a9b5a4/src/generated) and primitives such as types for Requests and responses that are not extendable.

### Problems

1. All endpoin

[2021-07-09 20:35] gr2m opened #2128 "Transition to native ES Modules + TypeScript declaration files"
Depends on https://github.com/octokit/octokit.js/issues/2127, because migrating to ES Modules will mean that we will have two versions we need to support for the foreseeable time (the latest which will be ESM and a long-term support version implemented as commonjs)

### Problems

- We currently don't have control over the resulting declaration files. They are hard to read and debug. And with growi

[2021-07-09 21:10] gr2m commented on #2127
This will unlock https://github.com/octokit/core.js/issues/323

[2021-07-10 12:56] dalanmiller opened #2129 "Property 'rest' does not exist on type 'OctokitWithDefaults'"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

https://gist.github.com/dalanmiller/0344b590d83f83f271fb080d9c7be97b

### Please select the environment(s) that are relevant to your bug report

- [X] TypeScript
- [ ] Enterprise
- [ ] Browser

[2021-07-10 17:17] wolfy1339 commented on #2129
Can you share your tsconfig?

The code looks fine to me

[2021-07-10 23:31] dalanmiller commented on #2129
No `.tsconfig` just:

[code]

And agreed, I read through all the octokit.js docs, but then it's also failing at runtime.

[2021-07-13 17:07] gr2m commented on #2129
This is most likely related to the Deno compatibility problems we discussed in the [other issues](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Adeno) and the discussion at https://github.com/octokit/octokit.js/discussions/1708.

I'm open to simple fixes that resolve the compatibility problems. I think the proper fix will be https://github.com/octokit/octokit.js/issues

[2021-07-17 05:04] jdgarcia opened #2131 "Won't compile in TypeScript"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgQTGOBfOAzKERwDkEAxjBANbAyEDcAUPSRAHYDO8A5tQBYCuAI1ToAvHBYBTAO4o0ACgT04cAIZoAkgBMAXHACMAJgDMAGiVwwUYADcVMCQGkJAT12FC9DAEoG9CQA9IWDhNCW

[2021-07-17 05:26] jdgarcia commented on #2131
Ok, I think I figured out why, it's because all those packages use Typescript 4 features while our project is still using Typescript 3.5.

[2021-07-17 05:26] #2131 closed, assigned to nobody

[2021-07-19 03:14] nimit2801 opened #2133 "Method for getting All Milestones"
### Please avoid duplicates

- [X] I checked [all open feature requests](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Afeature) and none of them matched my problem.

### What’s missing?

We need a method to get all milestones, there's already a method to get individual milestones but I was not able to find any method for getting all milestones.

### Why?

Was not able

[2021-07-19 03:22] wolfy1339 commented on #2133
`octokit.rest` is merely a wrapper around the GitHub REST API. If GitHub doesn't have an api for getting all milestones, then there won't be one here.

You should contact support to suggest the feature.

[2021-07-19 03:28] nimit2801 commented on #2133
Github has the endpoint for getting all the milestones

https://docs.github.com/en/rest/reference/issues#milestones
GET
`/repos/{owner}/{repo}/milestones`

[2021-07-19 03:30] wolfy1339 commented on #2133
My bad.

What versions are you using? Run `npm ls octokit`

[2021-07-19 03:30] nimit2801 commented on #2133
`└── octokit@1.1.0`
would love to make a PR! ✅

[2021-07-19 03:37] wolfy1339 commented on #2133
It's not as simple as making a PR. The endpoint methods are autogenerated from GitHub's published [OpenAPI spec](https://github.com/github/rest-api-description/blob/main/descriptions/api.github.com/api.github.com.json)

You'd have to check in `@octokit/rest` and all of it's upstreams.

***

Just found the relevant method.

[code]

[2021-07-19 03:39] #2133 closed, assigned to nobody

[2021-07-19 03:46] wolfy1339 commented on #2133
https://octokit.github.io/rest.js/v18#issues-list-milestones
My bad. it's `octokit.rest.issues.listMilestones()`

[2021-07-19 11:48] AmrutaKawade opened #2136 "Resource not accessible by integration - getOrgMembership"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

na

### Please select the environment(s) that are relevant to your bug report

- [ ] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [X] Node
- [ ] Deno

### Version

[code]

### What happened?

[2021-07-19 19:58] gr2m commented on #2136
The request is sent using authentication from the app. You'll have to authenticate the request as the user instead.

[2021-07-19 23:21] gr2m commented on #2128
Starting with v3.0.0-beta.10 `node-fetch` is a native ES Module. But turns out that [`fetch-mock`](https://github.com/wheresrhys/fetch-mock) fails when combined with that `node-fetch` version

[2021-07-29 10:20] ta0858575178 opened #2143 "Or you could make a sort of strategy registry;s"
Or you could make a sort of strategy registry;
[code]
which can then be augmented by consumers/strategy authors with
[code]

_Originally posted by @weswigham in https://github.com/octokit/rest.js/issues/13#issuecomment-582678977_

[2021-07-29 10:20] #2143 closed, assigned to nobody

[2021-08-16 23:21] gr2m commented on #2127
For the curious ones, here's what this is all about

https://user-images.githubusercontent.com/39992/129640719-48be7f8c-2fce-4e74-9556-3794a73e291b.mp4

[2021-09-18 00:56] gr2m commented on #2127
Another update, in 4 parts, because

1. There is more to show
2. I'm giving TypeScript a hard time

### Part I: upcoming `@octokit/core` without any REST API types and with types for `github.com`

https://user-images.githubusercontent.com/39992/133866362-2b758476-ee5f-4c4b-b81c-d3f545126154.mp4

### Part II: types for GitHub Enterprise Server (GHES)

https://user-images.githubusercontent.com/39992

[2021-11-11 13:22] jimmywarting commented on #2128
Glad that i'm not the only person that feels that Typescript are only in the way. I also think the compiling is wasteful, and you can't always use the latest features, IMO i don't think typescripts fits well into a loosed typed language. It's possible to have type safety with jsdoc and vanilla javascript without it. I think the hole extension less and the new introduction of mts and cts to imports

[2021-11-11 16:47] gr2m commented on #2128
Thanks Jimmy! The work is on hold right now, but I'll let you know once we get back to it.

It's not a simple transpilation of TS -> JS, it's an entire rewrite in many ways, which among other things enables the separation of REST API types and code, making Octokit easier to use with GitHub Enterprise Server and other special environments. The WIP is here: https://github.com/octokit/octokit-next.js

[2021-11-15 08:28] postatum opened #2168 "Throttling seems to be disabled despite the claims in readme"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case
[code]

### Please select the environment(s) that are relevant to your bug report

- [ ] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [X] Node
- [ ] Deno

### Version

octokit@1.7.0

### What h

[2021-11-22 13:35] g-hoang opened #2170 "Error when doing anonymous call with conditional request using etag"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

https://runkit.com/g-hoang/octokit-rest-js-2169

### Please select the environment(s) that are relevant to your bug report

- [ ] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [X] Node
- [ ] De

[2021-11-22 17:45] marcindabrowski opened #2171 "Add method for GET /{owner}/{repo}/releases/notes"
### Please avoid duplicates

- [X] I checked [all open feature requests](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Afeature) and none of them matched my problem.

### What’s missing?

Recently the ability to [automatically generate release notes](https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes) for GitHub r

[2021-11-22 19:04] wolfy1339 commented on #2171
Thanks for taking the time to fill out the template and requesting this feature!

Unfortunately, the endpoints methods are automatically generated from [GitHub's OpenAPI spec](https://github.com/github/rest-api-description/), we don't add new endpoints ourselves.

If GitHub hasn't added the endpoint yet, it won't be available for use in this module.

Currently there aren't any updates to `@octokit

[2021-11-22 21:52] wolfy1339 commented on #2171
In the meantime, you can use the enpoint manually using the [`octokit.request()` function](https://github.com/octokit/octokit.js#octokitrequest)

[2021-11-23 06:18] Pawper opened #2172 "Query strings don't work for search endpoint"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

https://runkit.com/pawper/619c82dc8a8edf0008cafe71

### Please select the environment(s) that are relevant to your bug report

- [ ] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [X] Node
- [ ]

[2021-12-01 17:42] Chocrates commented on #2172
A couple issues with your code @Pawper
You don't need to encode the search string, and the `q=` is redundant.  This should work
[code]

[2021-12-04 21:46] Chocrates commented on #2170
Hey @g-hoang looks like if you replace your header with this it works

[code]
Looks like it just doesn't like the stringify

[2021-12-04 22:02] Chocrates commented on #2168
Hey @postatum I think this would be a documentation bug, throttling is handled in https://github.com/octokit/plugin-throttling.js

Sample of setting it up

[code]

[2021-12-04 22:05] Chocrates commented on #2168
Additionally I don't think I agree that the docs are invalid, they mention that requests will retry once, code for that is here https://github.com/octokit/octokit.js/blob/v1.7.0/src/octokit.ts#L41

But that throttling needs to be done with the throttling plugin which is not included by default as you mentioned in the opening ticket.

[2021-12-06 06:37] postatum commented on #2168
I see. Thanks for the answer!

[2021-12-07 12:55] g-hoang commented on #2170
Hi @Chocrates
Thank you for your response. I will try to test follow your recommendation soon.
Just one thing, actually I implemented the same way with the personal access token (not anonymous) and it's working fine. So I'm not sure if the stringify caused the problem

[2021-12-09 16:24] Chocrates commented on #2170
oh weird @g-hoang, well let me know if it still doesn't work.

[2021-12-16 16:42] suptejas commented on #2126
Any updates with this? I'm facing the exact same issue too.

[2021-12-21 14:39] jeffreylanters opened #2184 "Add support for new branch protection rules"
### Please avoid duplicates

- [X] I checked [all open feature requests](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Afeature) and none of them matched my problem.

### What’s missing?

When updating branch protection rules, the "Allow specified actors to bypass pull request requirements" option under the "Require a pull request before merging" section is not availab

[2021-12-21 14:56] wolfy1339 commented on #2184
Thanks for this report :+1:

There's nothing we can do on our side. The types, and functions are auto-generated from GitHub's OpenAPI spec.

The alternative way you have tried is the way to go. There won't be any types, but it will work, you just have to refer to the github api docs.

Unfortunately, the JS octokit packages don't have an active maintainer anymore, so we cannot update the types for

[2021-12-21 19:26] #2184 closed, assigned to nobody

[2021-12-29 12:59] mfbx9da4 opened #2185 "Deno import issue auth-oauth-app"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

-

### Please select the environment(s) that are relevant to your bug report

- [X] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [ ] Node
- [X] Deno

### Version

latest version (in deno so np

[2021-12-29 13:33] wolfy1339 commented on #2185
It is known that there are problems with Deno compatibility, as you can see in the [other issues](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Adeno) and the discussion at #1708.

Unfortunately the JS octokit libraries no longer have an active maintainer.

You can read about it in [this discussion](https://github.com/octokit/octokit.js/discussions/620#discussioncommen

[2022-01-04 17:28] Raicuparta commented on #2126
I worked around this problem by aliasing `node-fetch` to `isomorphic-fetch`. No idea if it works for all usages within octokit, but works fine for my project. You'll need to install the `isomorphic-fetch` dependency before making this config change.

[code]

@gr2m Maybe it would be possible to use `isomorphic-fetch` instead of `node-fetch` in the `@octokit/*` packages?

[2022-01-04 18:29] wolfy1339 commented on #2126
Unfortunately the JS octokit libraries no longer have an active maintainer.

You can read about it in [this discussion](https://github.com/octokit/octokit.js/discussions/620#discussioncomment-1472174), subscribe to it for further updates.

[2022-01-04 19:09] Raicuparta commented on #2126
Bummer. In any case, I hope my answer will help people who search for this issue and end up here, like I did.

[2022-01-04 19:40] suptejas commented on #2126
Yep, this is helpful, thank you!

[2022-01-11 09:35] mvecha opened #2191 "Creating Review Comment on PR is not working"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

pull_request_review_thread.end_commit_oid

### Please select the environment(s) that are relevant to your bug report

- [ ] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [X] Node
- [ ] Deno

##

[2022-01-11 09:36] mvecha commented on #2191
I am trying to create comments as review on PR using below snippet

const octokit = github.getOctokit(token);
const request = {
owner: github.context.repo.owner,
repo: github.context.repo.repo,
pull_number : github.context.payload.pull_request.number,
body :"Comeback to me!!!!",
commit_id : github.context.sha,
path : ,
position : 3,
};
octokit.rest.pulls.createReviewComment(request).then((response

[2022-01-18 11:29] ConteMan commented on #2126
Thank you!

[2022-01-21 13:43] jakub-g opened #2193 "Typecheck issue in the distributed npm package: `Cannot find module '@octokit/request-error'`"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

[code]

`tsconfig.json` contents:
[code]

### Please select the environment(s) that are relevant to your bug report

- [X] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [X] Node
- [ ] Deno

###

[2022-01-21 14:39] wolfy1339 commented on #2193
I'm not sure if this will help, but you need to use the `strict` option in your `tsconfig.json` to get proper types.

I don't see any difference in `app.ts`, or other files that would make these errors appear now.

[2022-01-21 21:53] wolfy1339 commented on #2193
This seems to be an issue with how `yarn` resolves packages, as I cannot reproduce it when using `npm`

Unfortunately the JS octokit libraries no longer have an active maintainer.

You can read about it in [this discussion](https://github.com/octokit/octokit.js/discussions/620#discussioncomment-1472174), subscribe to it for further updates.

[2022-01-24 10:52] jakub-g commented on #2193
@wolfy1339 thanks for your replies and for all the info. I will have a deeper look on my side when I have some time.

We do use `strict` option in `tsconfig` by the way (I just shrank the file contents for the min repro).

[2022-02-10 14:40] sijjay opened #2200 "Get Branch API request returns main instead master or 404"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

Make https://octokit.github.io/rest.js/v18#repos-get-branch request with option: 'branch': 'master'

### Please select the environment(s) that are relevant to your bug report

- [ ] TypeScript

[2022-02-22 09:35] Fs00 commented on #2168
I've stumbled upon this recently and, after investigating a bit, it seems like that the code @Chocrates is referring to is not actually used.
The `throttle.onRateLimit` and `throttle.onAbuseLimit` options are being [used by the throttling plugin here](https://github.com/octokit/plugin-throttling.js/blob/master/src/index.ts#L81), and therefore if the throttling plugin is disabled, those functions w

[2022-02-25 15:01] johnlindquist opened #2203 "Releases API Not Returning Expected Results When Authenticated"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

https://runkit.com/johnlindquist/6218ede3781696000867e25e

### Please select the environment(s) that are relevant to your bug report

- [X] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [X] Nod

[2022-02-25 15:09] wolfy1339 commented on #2203
The issue seems to be that you are using draft releases, instead use the pre-release option.

Draft releases show up higher than regular releases as to remind you to publish them from my understanding, and only show up for maintainers of the repo.

This isn't anything actionable on octokit's side.

[2022-02-25 15:14] johnlindquist commented on #2203
@wolfy1339 That makes sense, thanks.

This code had worked fine for almost a year, then broke in the past couple days. So the "drafts are higher" change must have happened recently.

[2022-04-03 22:25] KikeE36 commented on #2185
@KikeE36

[2022-04-06 12:15] stergion opened #2211 "createNodeMiddleware(app) requires oauth.clientId and oauth.clientSecret"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

[code]

### Please select the environment(s) that are relevant to your bug report

- [ ] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [X] Node
- [ ] Deno

### Version

 octokit@1.7.1

### What

[2022-04-11 13:20] pkit opened #2214 "listWorkflowRuns does not list latest runs"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

Are you kidding?

### Please select the environment(s) that are relevant to your bug report

- [ ] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [X] Node
- [ ] Deno

### Version

$ yarn why oct

[2022-04-19 13:50] pdemro commented on #2214
@pkit The query returns more responses if you remove some of the filter parameters (status, branch, etc).  Obviously this isn't a solution but may be a band aide for some

[2022-04-19 15:10] pdemro commented on #2214
Not sure if someone on the Octokit team is messing with me, but around the exact time I posted my previous comment, this SDK method started working again 🤷‍♂️.  I wonder if @pkit can confirm?  Maybe this is an intermittent issue?

[2022-04-19 16:23] pkit commented on #2214
@pdemro Yup, I've opened a support ticket in github and it got fixed today.

[2022-04-19 16:23] #2214 closed, assigned to nobody

[2022-04-22 13:23] batuhancaglayan opened #2217 "Response headers not contains 'Content-Length'"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

https://www.typescriptlang.org/play?filetype=js#code/MYewdgzgLgBA3jA8sKIDWBLWBfGBeGAJwFMBHAVwxIAoAiAARBXSwHpQTaBKAbgChQkWAmAkAhlGIBBAA4yp5KAAsYuAiQpVidRs0xRWYxUoC0Yud36DoMAGbEowFerKUaAcjAgAJsR

[2022-04-28 15:27] batuhancaglayan commented on #2217
I found solution. I am writing for those who have similar need. You can wrap node-fetch like that;

[code]

[2022-04-28 15:27] #2217 closed, assigned to nobody

[2022-05-11 22:21] #2185 closed, assigned to nobody

[2022-05-30 19:34] pozil opened #2221 "removeAssignees fails when not providing optional assignees parameter"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

See code in description

### Please select the environment(s) that are relevant to your bug report

- [ ] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [X] Node
- [ ] Deno

### Version

Just im

[2022-06-04 21:57] TJKoury commented on #2126
For anyone confused by this, the file in the default `vite` setup is not the `svelte.config`, it is the `vite.config`:
[code]

[2022-06-08 05:28] gr2m commented on #2168
It's been a while, but it looks like the TypeScript problems no longer persist, so I re-enabled the throttling plugin in https://github.com/octokit/octokit.js/pull/2224

[2022-06-08 05:31] #2168 closed, assigned to nobody

[2022-06-20 14:24] timrogers commented on #2221
@pozil Thanks for submitting this issue! What do you expect the API to do when you don't specify any assignees?

[2022-06-20 14:41] timrogers commented on #2221
It looks to me, from trying it, that the API does nothing if you don't supply the `assignees` parameter. It looks like really there is a bug in the API here - it should enforce that the assignees are provided.

[2022-06-20 14:51] pozil commented on #2221
Yes, I think that the Node client should align with the behavior of the REST API and the docs.

Suggested fix:
- Mark `assignees` as required in the [REST API docs](https://docs.github.com/en/rest/issues/assignees#remove-assignees-from-an-issue)
- Throw an error in the REST API when `assignees` is missing
- Have a meaningful error message in the Node client such as "Missing required assignees para

[2022-06-20 14:52] timrogers commented on #2221
👍🏻 Glad we're in agreement. I have created an issue with the Issues team at GitHub (😂 ) to ask them to take a look at this.

[2022-06-20 14:53] pozil commented on #2221
Awesome, thanks.

[2022-06-20 14:54] timrogers commented on #2203
@johnlindquist Thanks for taking the time to report this issue! It looks like there was a subtle change to the API here in terms of how it sorts results, which it probably doesn't make sense to address in Octokit, so I'm going to close this. If you disagree with me, do feel free to reopen it!

[2022-06-20 14:54] #2203 closed, assigned to nobody

[2022-06-22 17:57] timrogers commented on #2221
@gr2m What do you think of adding an override in `octokit/openapi` to mark `assignees` as required? If you don't have it, the endpoint is no-op, which seems like a GitHub API bug 😓

[2022-06-22 18:00] timrogers commented on #2221
Technically, that would be a breaking change to the Octokit.js types, but it is only tidying up a case that is broken right now and which our types shouldn't permit.

It looks like the Issues team will fix it in the API itself, but that will take a while.

[2022-06-22 18:14] gr2m commented on #2221
I wouldn't consider it a breaking change if we fix an incorrect behavior.

Sure, we can add the override here: https://github.com/octokit/openapi/tree/main/scripts/overrides. But we should remove it once GitHub fixes it on their side, because an override is an all-or-nothing for an operation, so we will miss all future updates to that operation as long as our override exists

[2022-06-22 18:17] timrogers commented on #2221
Sounds good to me. I'll add that override tomorrow and will tag you.

I'm following the internal GitHub issue on the Issues side so I'll be aware when they fix it. It may need to be treated as a breaking change though, since this is a long-standing behaviour, so it could take a while.

[2022-07-04 20:51] wolfy1339 commented on #2193
As can be seen in the published types: https://unpkg.com/browse/octokit@1.8.1/dist-types/app.d.ts

The file imports the `@octokit/request-error`, `@octokit/webhooks`, and other octokit modules.

This seems to be an issue with how TypeScript is resolving the types and how they are defined.
I don't think there is anything that can be done here at this time.

[2022-07-08 11:54] oscard0m commented on #2200
Hi @sijjay !

After checking the documentation of Octokit, I can see that the default behavior is to follow the redirects of GitHub API response.

Still, I can see it exists an option to change this default behavior:
https://github.com/octokit/request.js/blob/master/src/fetch-wrapper.ts#L10

but it's not working for me (as you can see in this example): https://runkit.com/dominguezcelada/octokit-re

[2022-07-08 16:05] timrogers commented on #2200
Has the branch been renamed already through the GitHub UI? It sounds like that is probably what has happened.

As @oscard0m mentions, Octokit automatically follows redirects. There is meant to be a way to disable that behaviour - which is one way you couple work around this API behaviour - but it sounds like it isn’t working correctly.

For now, could you check the branch name returned from `getBr

[2022-07-08 16:05] timrogers commented on #2200
@oscard0m That `parse` function looks pretty suspicious to me! 😅

[2022-07-08 16:55] gr2m commented on #2200
The native behavior of `fetch` does not permit access to redirect responses for safety reasons. @sijjay are you testing in Node 18 by chance? It comes with native `fetch` built in, so it won't load `node-fetch`.

And even when using `node-fetch`, I had problems with the `.redirect` option in the past, it didn't behave as I though it would.

If you want full access of the request lifecycle, you can

[2022-07-08 17:13] sijjay commented on #2200
@gr2m
Hi guys,
I'm sorry, but not. And I can't check it since the project is already closed (I implemented a workaround).
But thanks a lot for the updates! It inspires hope, because support for the Octokit project is still on the fly))

[2022-07-08 20:42] #2200 closed, assigned to oscard0m

[2022-07-15 11:51] timrogers commented on #2221
This is now fixed at the SDK level - Typescript will complain if you don't set the `assignees`.

<img width="1421" alt="Screenshot 2022-07-15 at 12 51 00" src="https://user-images.githubusercontent.com/116134/179217698-8e6f8f07-ad29-4d6f-931d-1031cb0ce237.png">

[2022-07-15 11:51] #2221 closed, assigned to timrogers

[2022-07-16 14:50] alsino commented on #2126
This import worked for me as of 16 July 2022 with version ^3.44.0 of SvelteKit:

[code]

And the import in index.svelte like so:

[code]

[2022-07-24 00:00] Azdaus opened #2261 "Receive Paynment Link"
### Please avoid duplicates

- [X] I checked [all open feature requests](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Afeature) and none of them matched my problem.

### What’s missing?

_[removed harmful link]_

### Why?

forget

### Alternatives you tried

no

### Would you be interested in contributing the feature?

- [X] yes

[2022-07-24 00:05] #2261 closed, assigned to nobody

[2022-08-11 07:35] taronlee opened #2273 "can not access content property"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

[code]
### Please select the environment(s) that are relevant to your bug report

- [X] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [ ] Node
- [ ] Deno

### Version

$ npm ls | grep -v dedupe

[2022-08-11 10:20] wolfy1339 commented on #2273
This is a known issue, it's currently blocked upstream.
https://github.com/octokit/rest.js/issues/32

[2022-08-11 10:24] taronlee commented on #2273
Thank you for the answer.
I'll check it out.

[2022-08-11 19:30] wolfy1339 commented on #2273
I'm going to close this in favor of the other issue mentioned.

[2022-08-11 19:30] #2273 closed, assigned to nobody

[2022-08-12 15:54] byunru opened #2275 "provide a javascript (browser) demo app for authenticate with Azure AD"
### Please avoid duplicates

- [X] I checked [all open feature requests](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Afeature) and none of them matched my problem.

### What’s missing?

provide a javascript (browser) demo app for authenticate with Azure AD
to call a GitHub Enterprise API

### Why?

no instruction how to authenticate with Azure AD in browser

### Alte

[2022-08-12 18:39] #2275 closed, assigned to nobody

[2022-08-14 17:27] fixbullshit14 commented on #2079
hi pls help me
i have no idea

{"crashreporter_key":"43cd7e99167b919a3a11347cf6ecf9d47f733c14","bug_type":"211","timestamp":"2022-08-05 07:00:58.00 +0700","os_version":"iPhone OS 15.5 (19F77)","incident_id":"CF2E895A-09E5-4EB6-9A65-D4BF657E9960"}
{"_marker":"<metadata>","_preferredUserInterfaceLanguage":"id-ID","_userInterfaceLanguage":"id","_userSetRegionFormat":"ID","basebandChipset":"mav21","ba

[2022-08-25 21:56] thburghout opened #2286 "Workflow dispatch does not respect supplied ref"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

see below

### Please select the environment(s) that are relevant to your bug report

- [ ] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [ ] Node
- [X] Deno

### Version

"4.0.4"

### What hap

[2022-08-26 19:48] thburghout commented on #2286
bug in my code :clown_face: (still no clue why the above example didn't work, but my project is now working)

[2022-08-26 19:48] #2286 closed, assigned to nobody

[2022-08-31 16:34] samdnz opened #2289 "Cant create refs/heads/feature/branch"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgcwKYwPIGMYQNbDwC+cAZlBCHAEQACAhjsBAHYDOA9MoQBYCuAI2oAoUnxZNWcYGwDKMKMBbIAFAHce9GAC44bBUuQBKREWHnhWVvsRwAJlvpwSAXjj019QnAg58hADooVABHP

[2022-08-31 17:28] oscard0m commented on #2289
Hi @samdnz,

Thanks for taking the time and effort on reporting the issue. Is very valuable that you share a TypeScript Playground.

I have some questions for you to try to get closer to the root cause of the issue:
- Would it be possible to get the output error you are getting?

I'm guessing you are getting some kind of error when trying to run your command.

Thanks

[2022-09-01 08:20] taronlee opened #2290 "`pull request` api doesn't work when .yml file in .github/workflow is added"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

await this.octokit.request('PUT /repos/{owner}/{repo}/contents/{path}', {   ...uploadYML,   owner: app.org,   repo: app.repo,   path: '.github/workflows/lumos-publish.yml' }); await this.octok

[2022-09-01 12:54] samdnz commented on #2289
[code]

with ref "refs/heads/acceptance-deploy-action-yaml" this would work

[2022-09-02 12:40] timrogers commented on #2290
@taronlee Hi there! Sorry to hear you're having issues working with Octokit. Can you help me a bit more to understand what you're trying to do?

Are you trying to create your `.github/workflows/lumos-publish.yml` file on one branch, and then create a pull request to merge it into another branch? What branch do you want to create the file on, and what branch do you want to merge into?

I'd recommen

[2022-09-02 12:47] timrogers commented on #2289
@samdnz I've just tried this locally using the same code as you and I am able to create a branch with a name with a slash in it (e.g. `timrogers/foo`).

Could you check your `package-lock.json` and share the versions of all of the Octokit packages you're using?

Could you also share a working code sample for a branch you are able to create?

[2022-09-02 13:46] samdnz commented on #2289
https://github.com/samdnz/test-branch-create/runs/8157402605?check_suite_focus=true

everything is in this repo. the octokit dependency is transitive from the actions package

[2022-09-02 14:41] timrogers commented on #2289
This is rather strange! Would you be able to try using Octokit directly instead? I'm wondering if there is a fix in more recent Octokit versions.

[2022-09-02 14:44] samdnz commented on #2289
Yes this is rather strange. I have spent the better part of the week convincing myself that this was actually the cause of my issue.

[2022-09-06 06:47] taronlee commented on #2290
It works, Thank you for your help.

[2022-09-06 06:47] #2290 closed, assigned to nobody

[2022-09-16 16:59] Stono opened #2307 "Inconsistent API for createRef and deleteRef"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

See comment

### Please select the environment(s) that are relevant to your bug report

- [X] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [ ] Node
- [ ] Deno

### Version

❯ npm ls | grep -v

[2022-09-16 17:20] timrogers commented on #2307
Hi @Stono! 👋🏻 I can definitely see that this is a bit confusing and inconsistent.

We wouldn't want to fix this in Octokit though - for consistency, we try to make sure that this SDK mirrors the GitHub API's design. Making these kinds of cosmetic adjustments in the SDK itself would probably make things more confusing, as they wouldn't match up with the GitHub API docs!

I'd recommend submitting yo

[2022-09-16 17:20] #2307 closed, assigned to nobody

[2022-09-16 17:31] Stono commented on #2307
Totally valid @timrogers - thanks for the pointer, will feed it back there!

[2022-09-16 17:32] Stono commented on #2307
@timrogers - realistically api changes, even if agreed, would take a long time to surface.  To save people getting caught out by it, i think it'd be ok for `deleteRef` to throw an error if someone passes `refs/` at the start though?

That way we're not silently drifting from the API, but we are preventing people running into a known weird UX issue.

Just trying to save the next sucker a couple of

[2022-09-19 17:14] timrogers commented on #2307
I’m definitely on board with helping people not to make mistakes and making it clearer when their parameter is wrong. But I’m mindful of adding more complexity here or ending up with a solution that only works in Octokit.js.

What do you think of proposing a change to the GitHub API to return a clearer error in this case?

From: Karl Stoney ***@***.***>
Date: Friday, 16 September 2022 at 18:32
To:

[2022-09-25 12:34] ostiwe commented on #2191
Is there any progress with this problem?

[2022-09-25 13:13] timrogers commented on #2191
@ostiwe Would you be able to confirm what error message you're getting?

To look into this, I'll need to find your request in the logs.

If you're able to get the request ID from the response headers to help with debugging, that would be fantastic.

If you're not able to do that, could you email me the owner, repo and PR number and that'll do the trick too? My email is my GitHub username @github.c

[2022-09-25 13:16] ostiwe commented on #2191
@timrogers,

If I understood correctly, then here: 91F1:D11F:29B00F:2A6BC8:63304991

[2022-09-28 12:03] timrogers commented on #2191
Hi @ostiwe! Thanks. I can see that you're getting a `422` error. I'd like to try to rule out Octokit being the issue here. Would you be able to try making a request to the API with curl (or another HTTP client), and seeing if you can reproduce the issue?

[2022-10-01 10:46] ostiwe commented on #2191
Hi @timrogers , I tried to send the exact same request via Postman, as a result I received the same response, here is the request ID: EF58:798B:311BFBD:31DA980:63381A03

[2022-10-01 12:02] timrogers commented on #2191
Thanks! Would you be able to share the JSON request body? That'll give me everything I need to report this to the relevant team.

[2022-10-01 12:03] ostiwe commented on #2191
Yep,
[code]

[2022-10-03 11:43] timrogers commented on #2191
Thanks! I think your best bet would be to [contact GitHub support](https://support.github.com/?tags=dotcom-footer) with this one. I'd share the request ID, request body and response body. Sorry that we can't help you more here!

[2022-10-06 17:41] ostiwe commented on #2191
Okay, thanks

[2022-10-06 18:01] #2191 closed, assigned to nobody

[2022-10-21 19:42] ShivamJoker opened #2329 "Allow updating social preview image of the repository"
### Please avoid duplicates

- [X] I checked [all open feature requests](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Afeature) and none of them matched my problem.

### What’s missing?

I looked up everywhere but couldn't find an API which we can use to update the social preview of the repository.

Right now it's only possible with GUI:
![image](https://user-images.g

[2022-10-22 04:26] gr2m commented on #2329
I'm afraid but there is no such API right now, there is nothing we can do with the SDKs.

The right place to ask is https://github.com/community/community/discussions/categories/api-and-webhooks

[2022-10-22 04:26] #2329 closed, assigned to nobody

[2022-10-23 13:52] milahu commented on #2126
this also solves

[code]

from `node-fetch`

[code]

[2022-10-28 20:08] srijan55 opened #2335 "test"
### Please avoid duplicates

- [X] I checked [all open feature requests](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Afeature) and none of them matched my problem.

### What’s missing?

test

### Why?

test

### Alternatives you tried

test

### Would you be interested in contributing the feature?

- [ ] yes

[2022-10-28 20:09] #2335 closed, assigned to nobody

[2022-10-31 09:15] Inrixia opened #2337 "GET /orgs/${string}/repos returns OctokitResponse<any, number>"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgeQMYwga2PAvnAMyghDgCIABCdLHAelWgFMyAoVxgOwGd5qNs8ALxxOTAO4oaggBQBKdnTpwAJgEMYauMG5w1nAJ4cIPeEnWa4+EWvFqccfrRgA6KEwCOAVya8ZZAHEAUQAVOD

[2022-10-31 16:23] gr2m commented on #2337
You have to use the path that includes the path parameters with the URL template notation

[code]

[playground](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgeQMYwga2PAvnAMyghDgCIABCdLHAelWgFMyAoVxgOwGd5qNs8ALxxOTAO4oaggBQBKdl16I4AEwCGMdXHwj149Tjj9aMAHRQmARwCuTXjLIBxAKIAVOHWgBzbnQQ+uHSWkNxkADQqPgBc5EwAHurgADYsOnJAA)

[2022-10-31 16:23] #2337 closed, assigned to nobody

[2022-11-02 20:37] K9Developer opened #2340 "Error when authenticating user with token"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

Not sure

### Please select the environment(s) that are relevant to your bug report

- [ ] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [X] Node
- [ ] Deno

### Version

octokit version: 2.0.1

[2022-11-02 20:46] gr2m commented on #2340
This is most likely a problem with webpack bundling, I think there were a few issues in the past about it. `crypto` should not make it into the browser build. Maybe this issue will help? https://github.com/gr2m/universal-github-app-jwt/issues/38

[2022-11-02 20:59] K9Developer commented on #2340
Hi, I'm VERY new to react native... I'm not even sure I know what a web pack is. Could you maybe walk me a bit through it?

[2022-11-02 21:15] gr2m commented on #2340
Unfortunately I don't have experience with React Native either. Webpack is used to bundle the code from `octokit` and its dependencies together with your React Native app's code, so that it can be run together on a device. But some dependencies such as https://github.com/gr2m/universal-github-app-jwt/ need to run different code for different environments (e.g. node or browsers). In your case, I as

[2022-11-03 14:52] K9Developer commented on #2340
@gr2m Thanks, I will try using @octokit/core

EDIT: Thank you! It worked like a charm!!!

[2022-11-03 17:04] #2340 closed, assigned to nobody

[2022-11-04 11:56] mr-kelly opened #2341 "`deno run` dependencies with `Requires authentication`"
### Please avoid duplicates

- [X] I checked [all open bugs](https://github.com/octokit/octokit.js/issues?q=is%3Aissue+is%3Aopen+label%3Abug) and none of them matched my problem.

### Reproducible test case

import { Octokit } from "https://cdn.skypack.dev/octokit?dts";

### Please select the environment(s) that are relevant to your bug report

- [ ] TypeScript
- [ ] Enterprise
- [ ] Browsers
- [

[2022-11-05 09:03] mr-kelly commented on #2341
still error until now

[2022-11-07 18:23] gr2m commented on #2341
Can you please test if you see the error with when using `@octokit-next/core`?

You can use https://esm.sh/ which I think is what the Deno folks recommend:
https://esm.sh/@octokit-next/core@2.6.0

`@octokit-next/*` is not production ready, but it's a native ESM and built with Deno compatibility in mind.

[2022-11-08 13:01] mr-kelly commented on #2341
what you mean, should i import from esm.sh? @gr2m

[code]

I encounter same problem yet.

<img width="840" alt="image" src="https://user-images.githubusercontent.com/520852/200571355-e75cba54-6ff0-4787-9817-8c40db590ecd.png">

[2022-11-08 13:11] mr-kelly commented on #2341
I found that this problem will appear under my macOS (M1) native `deno`.

Success with `docker run -it --init denoland/deno:1.23.1 deno run`

[2022-11-08 16:18] gr2m commented on #2341
I was not able to reproduce the problem with my M1 machine, using Deno 1.26.1 and Deno 1.27.1 (latest version)

[code]

and then run with

[code]

[2022-11-08 16:43] #2341 closed, assigned to nobody

[2022-11-08 21:02] faustoct1 opened #2346 "[BUG]: Can't get user stats of total private gists, total private repos, total starred"
### What happened?

A github app can't get user stats of total private gists, total private repos, total starred.

### Versions

@octokit/core ^4.1.0
node 16

### Relevant log output

[code]

missing fields
[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-11-09 03:02] faustoct1 opened #2347 "[FEAT]: stats/metrics counters like count user private/public commits, count user private/public repos, count private/public starred"
### Describe the need

Possibility of endpoints to get stats / metrics in read-only mode counters like: count user private/public commits, count user private/public repos, count private/public starred can give insights and open a huge opportunity for developers build things to improve developers career.

### SDK Version

4.1.0

### API Version

no

### Relevant log output

[code]

### Code of Cond

[2022-11-09 03:06] wolfy1339 commented on #2347
Unfortunately, this isn't the right place to request new endpoints.

Octokit is only a client for the API, meaning we only implement the GitHub API.

The proper place to request such feature would be at: https://github.com/orgs/community/discussions/categories/api-and-webhooks

[2022-11-09 03:06] #2347 closed, assigned to nobody

[2022-11-10 18:29] gr2m commented on #2341
@mr-kelly did you find out what the problem was?

[2022-11-11 18:43] faustoct1 commented on #2347
@jokernomade cc

[2022-11-15 16:16] mr-kelly commented on #2341
sorry...no... i switch to NodeJS and give up the Deno version  @gr2m

[2022-11-16 23:03] jrwpatterson opened #2353 "[BUG]: Maintainer not added to the team"
### What happened?

Hi I'm using a token where I have added every single permission. I'm using the Octokit package to create a team but for some reason the maintainer isn't being added. The docs say the maintainer should be added automatically as the owner of the token. However, in my case the team is created, the user is added automatically but only as a team member; which means that the code the

[2022-11-30 09:15] filipvh opened #2359 "Question : How to support X-GitHub-Api-Version"
I had some questions after the launch of the new versioning scheme: [GitHub Blog - To infinity and beyond: enabling the future of GitHub’s REST API with API versioning](https://github.blog/2022-11-28-to-infinity-and-beyond-enabling-the-future-of-githubs-rest-api-with-api-versioning/)

My main question is: how will this be supported by this library that I use?

I've been searching a bit, but have y

[2022-11-30 11:49] wolfy1339 commented on #2359
Currently there isn't a way to define the API version per say.

If you want to use it, as it's it a header, you can add it to the options when you call the Octokit class.

Feel free to send a PR to add a proper option for this though